p {
  font-family: Lato;
}
.title {
  width:calc(100% - 24px);
  border: 2px solid grey;padding: 10px
}
.event {
  margin-top: 20px;
}
.event span {
  color: red;
}
.code-block {
  margin-top: 20px;
}
.mb-10px {
  margin-bottom: 10px;
}
.d-flex {
  display: flex;
}
