<div>
  <h1>
    {{ title }}
  </h1>
  <div>
    <div class='title'>
      <h2>Simple tree view</h2>
      <lib-ngx-tree-component
        [treeData]="myTree"
        (ondragstart)="onDragStart($event)"
        (ondragenter)="onDragEnter($event)"
        (ondragleave)="onDragLeave($event)"
        (ondrop)="onDrop($event)"
        (onallowdrop)="onAllowDrop($event)"
        (onadditem)="onAddItem($event)"
        (onStartDeleteItem)="onStartDeleteItem($event)"
        (onFinishDeleteItem)="onFinishDeleteItem($event)"
        (onCancelDeleteItem)="onCancelDeleteItem($event)"
        (onStartRenameItem)="onStartRenameItem($event)"
        (onFinishRenameItem)="onFinishRenameItem($event)"
        [config]='config'>
      </lib-ngx-tree-component>
    </div>

  </div>
</div>
